
@import url(http://fonts.googleapis.com/css?family=Syncopate:700|Quicksand:400,700);

body {
    width: 100%;
    height: 100%;
    font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #9B1B48;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 1.7em;
}

p, 
li {
    margin: 0 0 16px;
    font-size: 1.1em;
    line-height: 1.8;
    font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

/* Practice section list */
.practiceList li {
    text-align: left;
    margin-bottom: 8px;
}
/* mudra section gallery */
#mudras .subtitle {
  font-size: 1.1em;
  margin-bottom: 6px;
}

@media(min-width:767px) {

  .content-section h2 {
    font-size: 2.4em;
    margin: 0 0 45px;
  }

  .content-section p,
  .content-section li {
    font-size: 1.6em;
    line-height: 2.4;
    margin: 0 1.5em 35px;
  }

  #practice .practiceList li {
    line-height: 2;
    margin: 0 1.5em 25px;
  }

  #mudras .subtitle {
    font-size: 1.2em;
    margin-bottom: 9px;
  }
}

@media(min-width:1199px) {
  .content-section li {
    font-size: 1.6em;
    line-height: 2;
    margin: 0 1.5em 24px;
  }
  .content-section p {
    font-size: 1.6em;
    line-height: 2;
    margin: 0 3em 24px;
  }
}

/* ----------------------------------
Navigation and links
---------------------------------- */

a {
    color: rgba(214, 122, 140, .8);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #841F43;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: #9B1B48;
}

.navbar-custom .navbar-brand {
    font-family: Syncopate;
    font-size: 1.5em;
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 1.5em;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

/* navbar background color */
  .top-nav-collapse {
    padding: 0;
    background-color: #9b1b48;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }

/* Increase navbar text sizes */
  .navbar-custom .navbar-brand {
    font-size: 1.8em;
  }
  .navbar-custom {
    font-size: 1.2em;
  }
}

/* ----------------------------------
Set section height to fill screen
---------------------------------- */

.content-section {
  padding-top: 80px;
}

@media(min-width:767px) {
  .content-section {
    padding-top: 160px;
    }
}

@media(min-width:1199px) {
  .content-section {
    padding-top: 90px;
  }
}

/* ----------------------------------
Home page image and text
---------------------------------- */

.jumbotron {
  position: relative;
  background-color: transparent;
  text-align: center;
  padding: 0;
}

.jumbotron img {
  max-width: 80%;
  margin-top: 0px;
  margin-bottom: 2em;
}

.jumbotron .intro-text {
  font-size: 1.3em;
  padding: 0 1em;
  margin-bottom: 20px;
}

@media(min-width:767px) {
  .jumbotron .intro-text {
  font-size: 1.8em;
  padding: 0 4em;
  }
}

@media(min-width:1023px) {
  .jumbotron {
   position: relative;
   top: 0px;
  }

  .intro-text {
    padding-left: -100px;
    padding-right: -100px;
  }
}

/* ----------------------------------
Buttons and modals
---------------------------------- */

.btn-circle {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  border: 2px solid #fff;
  border-radius: 23px;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

/* Button class to dismiss modal */
.btn-modal {
  width: 24px;
  height: 24px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 6px;
  border: 1px solid #9B1B48;
  border-radius: 12px;
  font-size: 16px;
  color: #9B1B48;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
  0 {
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@-moz-keyframes pulse {    
  0 {
      -moz-transform: scale(1);
      transform: scale(1);
  }

  50% {
      -moz-transform: scale(1.2);
      transform: scale(1.2);
  }

  100% {
      -moz-transform: scale(1);
      transform: scale(1);
  }
}

.btn {
  font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  padding: 7px 7px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid #9B1B48;
  color: #fff;
  background-color: transparent;
  border-radius: 10px;
}

.btn-default:hover,
.btn-default:focus {
  outline: 0;
  color: #9b1b48;
  background-color: #fff;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}

@media(min-width:767px) {
  #mudras .btn {
    padding: 15px 0;
  }
}

/* ----------------------------------
Modal popups
---------------------------------- */

#myModal1, #myModal2, 
#myModal3, #myModal4, 
#myModal5, #myModal6, 
#myModal7, #myModal8 {
  top: 10%;
  outline: none;
}

.modal-body {
  color: #9b1b48;
}

.modal-body h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.modal-body h5 {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px;
}
.modal-body p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 16px;
}

.modal-image {
  width: 42%;
  height: 42%;
  float: right;
  border: 1px solid #9b1b48;
  border-radius: 50%;
  margin-left: 1em;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=5);
  opacity: .5;
}

@media(min-width:767px) {
  #myModal1 .modal-dialog, #myModal2 .modal-dialog,
  #myModal3 .modal-dialog, #myModal4 .modal-dialog,
  #myModal5 .modal-dialog, #myModal6 .modal-dialog,
  #myModal7 .modal-dialog, #myModal8 .modal-dialog {
    width: 90%;
  }
  .modal-body {
    padding: 30px 24px;
  }
  .modal-body h4 {
    font-size: 1.6em;
    margin-bottom: 12px;
  }
  .modal-body h5 {
    font-size: 1.3em;
    line-height: 1.8;
    margin-bottom: 15px;
  }
  .modal-body p {
    font-size: 1.4em;
    line-height: 2;
    margin-bottom: 20px;
  }
  .modal-image {
    max-width: 30%;
    max-height: 30%;
    margin-left: 1.5em;
  }
}

@media(min-width:1199px) {
  .modal-body {
    padding: 36px 30px;
  }
  .modal-body h4 {
    font-size: 2em;
    margin-bottom: 18px;
  }
  .modal-body h5 {
    font-size: 1.7em;
    line-height: 2;
    margin-bottom: 18px;
  }
  .modal-body p {
    font-size: 1.7em;
    line-height: 2;
    margin-bottom: 24px;
  }
}

/* ----------------------------------
Image grid - mudras section
---------------------------------- */
.imgGrid {
  margin-bottom: 20px;
}

.imgGrid h4 {
  margin-bottom: 6px;
}

.imgGrid img {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  border: 1px solid #9B1B48;
  border-radius: 50%;
}

@media(min-width:767px) {
  .imgGrid h4 {
    font-size: 1.6em;
    margin-bottom: 6px;
  }
  .imgGrid p {
    font-size: 1.2em;
  }
  .imgGrid {
    margin-bottom: 40px;
  }
}