
@import url(http://fonts.googleapis.com/css?family=Syncopate:700|Quicksand:400,700);

body {
    width: 100%;
    height: 100%;
    font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #9B1B48;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 24px;
}

p, 
li {
    margin: 0 0 16px;
    font-size: 1.1em;
    line-height: 1.6;
    font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}
/* Practice section list */
.practiceList li {
    text-align: left;
    margin-bottom: 8px;
}

@media(min-width:767px) {
    .content-section h2 {
        font-size: 2.4em;
        margin: 0 0 45px 0;
    }

    .content-section p,
    .content-section li {
        font-size: 1.6em;
        line-height: 2.4;
        margin: 0 1.5em 35px 1.5em;
    }

    .practiceList li {
      line-height: 2;
      margin: 0 1.5em 25px 1.5em;
    }
}

a {
    color: rgba(214, 122, 140, .8);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #841F43;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: #9B1B48;
}

.navbar-custom .navbar-brand {
    font-family: Syncopate;
    font-size: 1.5em;
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 1.5em;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

.jumbotron {
    position: relative;
    top: 60px;
    background-color: transparent;
    text-align: center;
}

.jumbotron img {
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron .intro-text {
    font-size: 1.3em;
}

@media(min-width:767px) {
    .jumbotron img {
    max-width: 80%;
    margin-top: 0px;
    margin-bottom: 50px;
    }

    .jumbotron .intro-text {
    font-size: 1.8em;
    }
}

@media(max-width:1199px) {
    .jumbotron {
    position: relative;
    top: 0px;
    padding-top: 0;
    }
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

/* navbar background color */
    .top-nav-collapse {
        padding: 0;
        background-color: #9b1b48;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

    .intro-text {
        font-size: 25px;
    }
/* Increase navbar text sizes */
    .navbar-custom .navbar-brand {
        font-size: 1.8em;
    }
    .navbar-custom {
    font-size: 1.2em;
    }

}

.btn-circle {
    width: 30px;
    height: 30px;
    margin-top: 6px;
    padding: 2px 6px;
    border: 2px solid #fff;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
/* Button class to dismiss modal */
.btn-modal {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 6px;
    border: 1px solid #9B1B48;
    border-radius: 12px;
    font-size: 16px;
    color: #9B1B48;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

@media(min-width:767px) {
   .btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    padding: 4px 12px;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 30px;
  }
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

section {
    height: 100%;
}

.content-section {
    padding-top: 80px;
}

@media(min-width:767px) {
    .content-section {
    padding-top: 160px;
    }

}

.btn {
    font-family: Quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: none;
    color: #fff;
    background-color: transparent;
    border-radius: 50%;
}

.btn-default:hover,
.btn-default:focus {
    outline: 0;
    color: #9b1b48;
    background-color: #fff;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#myModal1, #myModal2, 
#myModal3, #myModal4, 
#myModal5, #myModal6, 
#myModal7, #myModal8 {
    top: 10%;
    outline: none;
}

@media(min-width:767px) {
    #myModal1 .modal-dialog, #myModal2 .modal-dialog,
    #myModal3 .modal-dialog, #myModal4 .modal-dialog,
    #myModal5 .modal-dialog, #myModal6 .modal-dialog,
    #myModal7 .modal-dialog, #myModal8 .modal-dialog {
      width: 90%;
    }
}

.modal-body {
  color: #9b1b48;
}

.modal-body h4,
.modal-body h5,
.modal-body p {
   margin-bottom: 10px;
   line-height: 1.5em;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=5);
  opacity: .5;
}

.imgGrid {
  margin-bottom: 20px;
}

.imgGrid h4 {
  margin-bottom: 8px;
}

@media(min-width:767px) {
  .imgGrid h4 {
    margin-bottom: 12px;
  }
  .imgGrid {
    margin-bottom: 60px;
  }
}